<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pplt.m100.mapper.ClientinfoMapper" >
    <resultMap id="BaseResultMap" type="com.pplt.m100.entity.ClientinfoEntity">
        <id column="ID" property="ID" jdbcType="BIGINT" />
        <result column="info" property="info" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        ID, info
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM clientinfo
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM clientinfo
	   WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.pplt.m100.entity.ClientinfoEntity" >
       INSERT INTO 
       		clientinfo
       		(info) 
       	VALUES
       		(#{info})
    </insert>
    
</mapper>